<main class="container">
  <section class="weather-search">
    <h2>Enter Your Location:</h2>
    <form class="weather-form"
        [formGroup]="weatherForm"
        (ngSubmit)="onSubmit(weatherForm.value)">
    <input type="text"
           name="weather-location"
           placeholder="Enter Location"
           aria-describedby="weather-Location"
           formControlName="locationInput"/>
    <br />
    <button class="button" 
            [disabled]="!weatherForm.valid" 
            type="submit">
      Search
    </button>
  </form>
  </section>

  <section>
    <h2>Weather Details:</h2>
  </section>
</main>
